[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-rest-auth = "*"
djangorestframework = "*"
django-cors-headers = "*"
install = "*"
django-filter = "*"
python-decouple = "*"
django-allauth = "*"

[dev-packages]

[requires]
python_version = "3.11"
